/* Colour Palette 
darkest navy:    #22223B;
medium navy:     #4A4E69;
mauve:           #9A8C98;
millennial pink: #C9ADA7;
palest pink:     #F2E9E4;
*/

:root {
    --darkest-navy:    #22223B;
    --medium-navy:     #4A4E69;
    --mauve:           #9A8C98;
    --millennial-pink: #C9ADA7;
    --palest-pink:     #F2E9E4;
}


/* Typography & Universal Styles */

body {
    color: var(--darkest-navy);
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

ul, li {
    padding-left: 0;
    list-style-type: none;
}

a {
    color: var(--palest-pink);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 87.5rem; /*1400px*/
    margin: 0 auto;
}

/* Header & Navigation */
header {
    background-color: var(--medium-navy);
    text-align: center;
}

nav {
    padding: 1rem;
    text-transform: uppercase;
}

nav li { line-height: 2.5rem; }

/* Hero Banner */
.hero-bkgd {
    background: url('../img/bg/outdoor-tall.webp') center / cover no-repeat;
    color: var(--palest-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    /** we can easily make a hero banner by the full height of the viewport by subtracting the height navigation/header */
    height: calc(100vh - 18.75rem); /** height of header is 300px or 18.75rem */
}

.hero-bkgd h2,
.hero-bkgd p {
    /**we 're adding a subtle drop-shadow to the text to be able to distinguish it form the back. (Crap - Contrast / Repetition / Alignment / Proximity) **/
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.25);
    font-size: 2rem;
}

.hero-bkgd p {
    font-size: 1.4rem;
}

.hero-bkgd a.btn {
    background-color: var(--medium-navy);
    padding: 1rem 2rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0,0,0,0.25);
    border-radius: 0.3125rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: inline-block; 
}

/* Cards */
.product-info {
    padding: 4rem 1rem 1rem;
}

.card {
    background-color: var(--medium-navy);
    margin: 1rem;
    color: var(--palest-pink);
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0,0,0,0.25);
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.5rem;
    text-align: center;
}

.card-bg {
    min-height: 31.25rem;
}

.card:nth-of-type(1) .card-bg {
    background: url('../img/cards/exterior-entry.webp') center / cover no-repeat;
}

.card:nth-of-type(2) .card-bg {
    background: url('../img/cards/interior-desk.webp') center / cover no-repeat;
}
.card:nth-of-type(3) .card-bg {
    background: url('../img/cards/kitchen-trinkets.webp') center / cover no-repeat;
}

.card-desc {
    padding: 1rem;
}

/* Footer Styles */
footer {
    margin-top: 5rem;
}
footer nav {
    background-image: url('../img/leaf.svg');
    background-color: var(--mauve);
    padding: 2rem 1rem 1rem;
    line-height: 0.8rem;
}
.footer-links {
    margin-bottom: 2rem;
}

.footer-links:last-of-type { margin-bottom: unset;}
.footer-links li {
    line-height: 2;
}

.copyright {
    background-color: var(--darkest-navy);
    color: var(--palest-pink);
    padding: 1rem;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 960px) {
    .wide-flex {
        display: flex;
        justify-content: space-between;
    }
    /* We'll change the alignment of the lists in the footer so that they're easier to read. */
    footer .wide-flex {
        justify-content: flex-start;
        gap: 2rem; /** gap allows for 2 values: row-gap and column gap. see here for more info: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    }
    
    /* another method of spacing */
    /* .footer-links {
        
        margin-right: 2rem;
    } */

    .hero-bkgd {
        background: url('../img/bg/outdoor-wide.webp') center / cover no-repeat;
        height: calc(100vh - 8.75rem);
    }
    .hero-bkgd h2 { font-size: 3rem; }
    .hero-bkgd p { font-size: 2.2rem; }

    /** cards */
    /** each card is a flex-item*/
    .card {
        /* We're getting rid of the margin we added above because we don't need it in this view. */
        margin: unset;
        width: calc(100% / 3 - 0.5rem);
         /* We're also going to switch up the order of some of the elements within the card using the order property. In order to do that, we need the card to be a flex container. */
        display: flex;
        flex-direction: column;
    }

    .card-bg { order: -1; }
    .card-desc { padding-top: 0; }
}
